BASE_URL=http://localhost:3000

OAUTH_ID=
OAUTH_SECRET=

MCP_USERNAME=test
MCP_PASSWORD=test

PVE_API_URL=https://0.0.0.0:8006
PVE_API_TOKEN=root@pam!token=secret
PVE_INSECURE=true

# openssl rand -hex 32
JWT_SECRET=
