BASE_URL=http://localhost:3000

# i suggset: openssl rand -hex 16
OAUTH_ID=
# i suggset: openssl rand -hex 16
OAUTH_SECRET=

MCP_USERNAME=CHANGE_ME
MCP_PASSWORD=CHANGE_ME

PVE_API_URL=https://0.0.0.0:8006
# only scope to perms needed for tools you want to use
PVE_API_TOKEN=root@pam!token=secret
PVE_INSECURE=false

# openssl rand -hex 32
JWT_SECRET=
